@model PaginationResponse<HaBuddies.Models.Event>
@using HaBuddies.Constants

@if (Model.Count > 0) {
    @foreach (HaBuddies.Models.Event evt in Model.Data)
    {
        if (evt.isOpen == true) {
            var category = evt.category;
            var currentEnroll = 0;
            
            <div class="banner">
                <div class="evt-heading">
                    <div class="category" style="background-color: @Category.GetColorHex(category)">
                        @Html.Raw(Category.GetIconHtml(category))
                        <span class="evt-category">@category</span>
                    </div>
                    <span class="evt-title">@evt.title</span>
                    <span class="evt-enrollsize @(currentEnroll<evt.enrollSize?"vacant":"full")">
                        @currentEnroll/@evt.enrollSize <i class="fa-solid fa-user-group"></i>
                    </span>
                </div>
                <div class="evt-body">
                    <span class="evt-description">@evt.description</span>
                    <span class="evt-enddate">Close Date<br>@evt.endDate.ToShortDateString()</span>
                    <button type="button" class="evt-join">เข้าร่วม</button>
                </div>
            </div>
        }
    }
}
else {
    <div>
        <span>nothing</span>
    </div>
}