@model PaginationResponse<HaBuddies.Models.Event>
@using HaBuddies.Models
@using HaBuddies.Constants
@using static HaBuddies.Services.Utils.EventUtil
@using Newtonsoft.Json;

@{
    string userExist = ViewContext.HttpContext.Session.GetString("user")!;
    UserNoPassword userObject = null!;
    if (userExist != null) {
        userObject = JsonConvert.DeserializeObject<UserNoPassword>(userExist)!;
    }
}

@if (Model.Data.Count > 0) {
    @foreach (Event evt in Model.Data)
    {
    var category = evt.Category;
    int currentEnroll = evt.SubscribersId.Count + evt.QueueId.Count;
    string enrollMsg = evt.IsOpen?$"{currentEnroll}/{evt.EnrollSize}":$"{evt.EnrollSize}";

    bool selfOwned = IsOwnedEvent(userObject, evt);
    bool canJoin = IsJoinable(userObject, evt);
    bool currentlyJoin = IsCurrentlyJoined(userObject, evt);
    
    <div class="banner" id="@evt.Id">
        <a draggable="false" asp-controller="Event" asp-action="Details" asp-route-id="@evt.Id">
            <div class="evt-heading">
                <div class="category" style="background-color: @Category.GetColorHex(category)">
                    @Html.Raw(Category.GetIconHtml(category))
                    <span class="evt-category">@category</span>
                </div>
                <h2 class="evt-title">@evt.Title</h2>
                <span class="evt-enrollsize @(evt.IsOpen?(currentEnroll<evt.EnrollSize?"vacant":"full"):"close")">
                    @enrollMsg <i class="fa-solid fa-user-group"></i>
                </span>
                <div class="owner">
                    <div class="owner-picture">
                        <img alt="Owner picture" src="~/img/default.jpg" draggable="false">
                    </div>
                    <span class="owner-name">@evt.Owner.Name @evt.Owner.Surname</span>
                </div>
            </div>
            <div class="evt-body">
                <span class="evt-description">@evt.Description</span>
                <span class="evt-enddate">Close Date<br>@evt.EndDate.ToShortDateString()</span>
            </div>
        </a>
        @if (!selfOwned) {
            <button type="button" class="evt-join @(canJoin?"active":"") @(currentlyJoin?"leave":"join")" onclick=@(canJoin?"myFunction(this)":"")>
                @if (currentlyJoin) {
                    <text>ออก</text>
                }
                else {
                    <text>เข้าร่วม</text>
                }
            </button>
        }
    </div>
    }
}
else {
    <div class="no-event">
        <img src="https://img.freepik.com/free-vector/group-therapy-illustration-concept_52683-45727.jpg?t=st=1709623373~exp=1709626973~hmac=78df7e8d67f4c5f6b0d06d0113b240ce820bf4d30f74051aaf195c505371a8d0" alt="no_event">
        <h2>No events yet</h2>
        <p>It has been quiet recently. Let's create some new events!</p>
        <a class="create-event" asp-area="" asp-controller="Event" asp-action="Create">Create event</a>
    </div>
}