@using Newtonsoft.Json;
@inject HaBuddies.Services.ImageService ImageService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HaBuddies</title>
    <script src="https://kit.fontawesome.com/ac1b186a28.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @RenderSection("Stylesheets", required: false)
</head>
<body>

    @{
        string currentRoute = Url.RouteUrl(ViewContext.RouteData.Values)!;
        string userExist = ViewContext.HttpContext.Session.GetString("user")!;
    }

    <header>
        <a class="logo" asp-area="" asp-controller="Event" asp-action="Index">HaBuddies</a>
        <ul>
            <li>
                <a class="new-post-button" asp-area="" asp-controller="Event" asp-action=""><i class="fa-regular fa-plus"></i><span>New</span></a>
            </li>
            <li>
                <a class="notification-button" asp-area="" asp-controller="Event" asp-action=""><i class="fa-solid fa-bell"></i></a>
                <div class ="notification-block">
                </div>
            </li>
            <li>
                @{
                    if (userExist != null) {
                        dynamic userObject = JsonConvert.DeserializeObject(userExist)!;
                        string userId = userObject.Id;
                        string uName = userObject.Name;
                        string uSurname = userObject.Surname;
                        string imageProfilePath = ImageService.GetUserImageFileExtension(userId);

                        <a class="profile-button" asp-area="" asp-controller="User" asp-action="MyProfile">
                            <span class="profile-name">@uName @uSurname</span>
                            <div class="profile-picture">
                                <img alt="Profile picture" src="~/@imageProfilePath" draggable="false">
                            </div>
                        </a>
                    }
                    else {
                        <a class="profile-button" asp-area="" asp-controller="User" asp-action="LoginAndRegister">
                            <span class="profile-name">Login</span>
                            <div class="profile-picture">
                            </div>
                        </a>
                    }
                }
            </li>
        </ul>
    </header>

    <input type="checkbox" id="toggle-nav">
    <label for="toggle-nav">
        <i class="fa-solid fa-bars" id="open-nav"></i>
        <i class="fa-solid fa-times" id="close-nav"></i>
    </label>
    <div class="sidebar">
        <div class="header-nav">Main Menu</div>
        <ul>
            <li class=" @(currentRoute==Url.Action("Index", "Event")?"active":"")"> 
                <a class="home-nav" asp-area="" asp-controller="Event" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class=" @(currentRoute==Url.Action("MyProfile", "User")?"active":"")">
                <a class="my-profile-nav" asp-area="" asp-controller="User" asp-action="MyProfile"><i class="fa-solid fa-address-card"></i> My Profile</a>
            </li>
            <li class=" @(currentRoute==Url.Action("MyPost", "User")?"active":"")">
                <a class="my-post-nav" asp-area="" asp-controller="" asp-action=""><i class="fa-solid fa-calendar"></i> My Post</a>
            </li>
            <li class=" @(currentRoute==Url.Action("History", "User")?"active":"")">
                <a class="history-nav" asp-area="" asp-controller="User" asp-action="History"><i class="fa-solid fa-clock-rotate-left"></i> History</a>
            </li>
        </ul>
        @if (userExist != null) {
            <div class="logout">
                <a class="logout-button" onclick="logout();">
                    Logout
                </a>
                <script>
                    function logout() {
                        var xmlhttp = new XMLHttpRequest();

                        xmlhttp.onreadystatechange = function() {
                            if (xmlhttp.readyState == XMLHttpRequest.DONE && xmlhttp.status == 200) {
                                alert("You have logged out!")
                                window.location.href = '@Url.Action("LoginAndRegister", "User")';
                            }
                        };

                        xmlhttp.open("POST", '@Url.Action("Logout", "User")', true);
                        xmlhttp.send();
                    }
                </script>
            </div>
        }
    </div>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>