@model PaginationResponse<HaBuddies.Models.Notification>
@using HaBuddies.Models
@using HaBuddies.Constants
@using static HaBuddies.Services.Utils.EventUtil
@using Newtonsoft.Json;
@inject HaBuddies.Services.ImageService ImageService;

@{
    string userExist = ViewContext.HttpContext.Session.GetString("user")!;
    UserNoPassword userObject = null!;
    if (userExist != null) {
        userObject = JsonConvert.DeserializeObject<UserNoPassword>(userExist)!;
    }
}

@foreach (Notification noti in Model.Data)

{       string userId = noti.Id;
        string imageProfilePath = ImageService.GetUserImageFileExtension(userId);
        var category = noti.Event.Category;

        <div class="noti-owner" id="@noti.Event.Id">
            <a draggable="false" asp-controller="Event" asp-action="Details" asp-route-id="@noti.Id">
            <div class="evt-heading">
                <div class="category" style="background-color: @Category.GetColorHex(category)">
                    @Html.Raw(Category.GetIconHtml(category))
                    <span class="evt-category">@category</span>
                </div>
                <h2 class="evt-title">@noti.Event.Title</h2>
                <div class="owner">
                    <div class="owner-picture">
                        <img alt="Owner picture" src="~/@imageProfilePath" draggable="false">
                    </div>
                    <span class="owner-name">@noti.User.Name</span>
                </div>
            </div>
            <div class="evt-body">
                <span class="evt-description">@noti.Event.Description</span>
            </div>
        </a>
        </div>
}