@model PaginationResponse<HaBuddies.Models.Notification>
@using HaBuddies.Models
@using HaBuddies.Constants
@using static HaBuddies.Services.Utils.EventUtil
@using Newtonsoft.Json;
@inject HaBuddies.Services.ImageService ImageService;

@{
    string userExist = ViewContext.HttpContext.Session.GetString("user")!;
    UserNoPassword userObject = null!;
    if (userExist != null) {
        userObject = JsonConvert.DeserializeObject<UserNoPassword>(userExist)!;
    }
}

@foreach (Notification noti in Model.Data)

{       string userId = noti.FromUserId!;
        string imageProfilePath = ImageService.GetUserImageFileExtension(userId);
        var type = noti.Type;

        <div class="notification-items" id="@noti.Event.Id">
            <a draggable="false" asp-controller="User" asp-action="Bio" asp-route-id="@noti.FromUserId">
                <div class="noti-profile">
                    <img src="~/@imageProfilePath" alt="Profile picture" draggable="false">
                </div>
                <div class="noti-info">
                    @if (type == TypeStatus.Joined)
                        {
                            <h1>@noti.User.Name has joined your Event.</h1>
                        }
                        else if (type == TypeStatus.Cancelled)
                        {
                            <h1>@noti.User.Name has left your Event.</h1>
                        }
                    <hr/>
                    <p>Event : @noti.Event.Title</p>
                </div>
            </a>
        </div>
}

<script>
    
</script>