@model HaBuddies.Models.User
@using Newtonsoft.Json;
@inject HaBuddies.Services.ImageService ImageService;
@{
    ViewData["Title"] = "Profile";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/myprofile.css" asp-append-version="true" />
}

<div class="text-center">
    <div class="profile">
        <div class="profile-header">
            @{
                string userExist = ViewContext.HttpContext.Session.GetString("user")!;
                dynamic userObject =  JsonConvert.DeserializeObject(userExist)!;
                string userId = userObject.Id;
                string imageProfilePath = ImageService.GetUserImageFileExtension(userId);
            }
            <img alt="Profile picture" src="~/@imageProfilePath" draggable="false">
            <div class="profile-name">
                <h2><span class="name">@Model.Name @Model.Surname </span></h2><br>
                <span class="about">@Model.Bio</span><br>
            </div>
            <div class="editbutton">
                <button class="editProfileButton"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="editImageButton"><i class="fa fa-file-image-o" aria-hidden="true"></i></i></button>
            </div>
        </div>
        <hr>
        <div class="profile-info" id="profileInfo">
            <label>Name</label>
            <span class="name">@Model.Name @Model.Surname</span><br>

            <label>Gender</label>
            <span class="gender">@Model.Gender</span><br>

            <label>Birthdate</label>
            <span class="Birthdate">@Model.BirthDate.ToLocalTime().ToString("yyyy-MM-dd")</span><br>

            <label>Age</label>
            <span class="age">@Model.Age</span><br>

            <label>contact</label>
            <span class="contact">@Model.Email</span><br>

            <label>About Me</label>
            <span class="about">@Model.Bio</span>
        </div>

        <div class="editProfile" style="display: none;" >
            <form class="editProfile" id="editProfileForm" method="post" action='@Url.Action("Update", "User")'>
                <label for="editName">Name</label><br>
                <input type="text" class="editName" name="Name" value="@Model.Name"><br>

                <label for="editSurname">Surname</label><br>
                <input type="text" class="editSurname" name="Surname" value="@Model.Surname"><br>

                <label for="editGender">Gender</label><br>
                <select class="editGender" name="Gender">
                    <option value="Gender" disabled>Gender</option>
                    <option value="Male" selected='@(Model.Gender == "Male")'>Male</option>
                    <option value="Female" selected='@(Model.Gender == "Female")'>Female</option>
                    <option value="Others" selected='@(Model.Gender == "Others")'>Others</option>
                </select><br>

                <label for="editBirthdate">Birthdate</label><br>
                <input type="date" class="editBirthdate" name="Birthdate" value="@Model.BirthDate.ToLocalTime().ToString("yyyy-MM-dd")"><br>

                <label for="editPassword">Password</label><br>
                <input type="text" class="editPassword" name="Password" value="@Model.Password"><br>

                <label for="editBio">About me</label><br>
                <textarea class="editBio" name="Bio">@Model.Bio</textarea><br>



                <input type="submit" value='Update'>
            </form>
        </div>

        <div class="editImage" style="display: none;" >
            <form method="post" enctype="multipart/form-data" asp-controller="Image" asp-action="UploadImage">
                    
                    <div class="ChangeProfile">Change Profile Image</div><br>
                    <input type="file" name="file" class="formImage" accept="image/*" required/>
                
                <div>
                    <input type="submit" value="Upload"/>
                </div>
                <span class="text-success">
                    @ViewBag.Message
                </span>
            </form>
        </div>

    </div>
    

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const editProfileButton = document.querySelector(".editProfileButton");
            const editbuttonDiv = document.querySelector(".editbutton");

            editProfileButton.addEventListener("click", function () {
                editbuttonDiv.style.display = "none";
            });
        });

       document.addEventListener("DOMContentLoaded", function () {
            const editProfileButton = document.querySelector(".editProfileButton");
            const editProfileForm = document.querySelector(".editProfile");
            const profileInfo = document.querySelector("#profileInfo");

            editProfileButton.addEventListener("click", function () {
                editProfileForm.style.display = "block";
                profileInfo.style.display = "none";
            });
        }); 

        document.addEventListener("DOMContentLoaded", function () {
            const editProfileButton = document.querySelector(".editImageButton");
            const editbuttonDiv = document.querySelector(".editbutton");

            editProfileButton.addEventListener("click", function () {
                editbuttonDiv.style.display = "none";
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const editImageButton = document.querySelector(".editImageButton");
            const editImageForm = document.querySelector(".editImage");
            const profileInfo = document.querySelector("#profileInfo");

            editImageButton.addEventListener("click", function () {
                profileInfo.style.display = "none";
                editImageForm.style.display = "block";
            });
        });

    </script>
</div>

