@using HaBuddies.Constants;

@{
    ViewData["Title"] = "Home Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />
}


</div>

    <div class="createPost">
        <div class="header"><h2>Create Post</h2></div>
        <hr><br>
        <form class="postForm" method="post" action='@Url.Action("Create", "Event")'>
            <div class="header"><h2>Property Category</h2></div>
            <div class="PropertyCategory">
                <div class="category-boxes">
                    @foreach (var category in Category.DataDict)
                    {
                        string categoryName = category.Key;
                        <input type="radio" name="Category" id="@categoryName" class="category-radio" value="@categoryName" required />
                        <label for="@categoryName" class="category-box" color="@Category.GetColorHex(categoryName)">
                            @Html.Raw(category.Value.IconHtml)
                            <br>@categoryName
                        </label>
                    }
                </div>
                <input type="hidden" class="category" name="Category" required>
            </div>
            <div class="header"><h2>Detail</h2></div>
            <div class="detailbox">
                <div class="inputtitle">
                    <label for="Title">Title</label>
                    <input type="text" class="title" id="Title" name="Title" required>
                </div>
                <div class="inputPeople">
                    <label for="EnrollSize">People</label>
                    <input type="number" class="enrollSize" id="EnrollSize" name="EnrollSize" min="0" required>
                </div>
                <div class="inputdate">
                    <label for="EndDate">Close Date</label>
                    <input type="date" class="endDate" id="EndDate" name="EndDate" required>
                </div>
            </div>

                <div class="inputDescription">
                    <label for="description">Description</label>
                    <input type="text"class="description" id="Description" name="Description" required>
                </div>
            
            <div class="header"><h2>Requirement</h2></div>
            <div class="requirement">
                <div class="inputRequirement">
                    <label for="MinAgeRequirement">Min Age</label>
                    <input type="number" class="minAge" id="MinAgeRequirement" name="MinAgeRequirement" value= "" min="0" >
                </div>
                <div class="inputRequirement">
                    <label for="MaxAgeRequirement">Max Age</label>
                    <input type="number" class="maxAge" id="MaxAgeRequirement" name="MaxAgeRequirement" value="" min="0" >
                </div>
                <div class="inputRequirement">
                    <label for="GenderRequirement">Gender</label>
                    <div id="GenderRequirement" class="dropdown-check-list" name="GenderRequirement" tabindex="100">
                    <span class="anchor">Select Gender</span>
                    <ul class="items">
                        <li><input type="checkbox" id="maleCheckbox" name="GenderRequirement" value="Male"/> Male</li>
                        <li><input type="checkbox" id="femaleCheckbox" name="GenderRequirement" value="Female"/> Female</li>
                        <li><input type="checkbox" id="otherCheckbox" name="GenderRequirement" value="Other"/> Other</li>

                    </ul>
                </div> 
                </div>
            </div>
            <input type="submit" value="Create" >

        </form>
        <script>
            document.getElementsByName('Category').forEach((radio) => {
                var selector = 'label[for=' + radio.id + ']';
                var label = document.querySelector(selector);
                label.addEventListener('click', function(){
                    document.querySelectorAll('.category-box').forEach(function(box) {
                        box.style.backgroundColor = null;
                    });
                    const color = this.getAttribute('color');
                    this.style.backgroundColor = color;
                });
            })

            var checkList = document.getElementById('GenderRequirement');
            checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
            if (checkList.classList.contains('visible'))
                checkList.classList.remove('visible');
            else
                checkList.classList.add('visible');
            }

        </script>
    </div>