@model HaBuddies.Models.Event
@using HaBuddies.Models
@using HaBuddies.Constants
@using static HaBuddies.Services.Utils.EventUtil
@using Newtonsoft.Json;
@inject HaBuddies.Services.ImageService ImageService;

@section Stylesheets {
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Details";

    string userExist = ViewContext.HttpContext.Session.GetString("user")!;
    UserNoPassword userObject = null!;
    if (userExist != null) {
        userObject = JsonConvert.DeserializeObject<UserNoPassword>(userExist)!;
    }

    int currentEnroll = Model.SubscribersId.Count + Model.QueueId.Count;
    string enrollMsg = Model.IsOpen?$"{currentEnroll}/{Model.EnrollSize}":$"{Model.SubscribersId.Count}";

    bool selfOwned = IsOwnedEvent(userObject, Model);
    bool canJoin = IsJoinable(userObject, Model);
    bool currentlyJoin = IsCurrentlyJoined(userObject, Model);
    string imageOwnerPath = ImageService.GetUserImageFileExtension(Model.OwnerId);

    string OwnerName = Model.Owner.Email;
    if (Model.Owner.Name != null) OwnerName = Model.Owner.Name + " " + Model.Owner.Surname;
}

<div class="evt-detail" id="@Model.Id">
    <div class="evt-heading">
        <div class="category" style="background-color: @Category.GetColorHex(Model.Category)">
            @Html.Raw(Category.GetIconHtml(Model.Category))
            <span class="evt-category">@Model.Category</span>
        </div>
        <h1 class="evt-title">@Model.Title</h1>
        <div class="owner">
        <a draggable="false" asp-controller="User" asp-action="Bio" asp-route-id="@Model.OwnerId">
            <div class="owner-picture">
                <img alt="Owner picture" src="~/@imageOwnerPath" draggable="false">
            </div>
        </a>
        <a draggable="false" asp-controller="User" asp-action="Bio" asp-route-id="@Model.OwnerId">
            <span class="owner-name">@OwnerName</span>
        </a>    
        </div>
    </div>
    <div class="evt-body">
        <p class="evt-description">@Model.Description</p>
        <span class="evt-enddate">Close Date<br>@Model.EndDate.ToLocalTime().ToString("dd/MM/yyyy")</span>
        <span class="evt-enrollsize @(Model.IsOpen?(currentEnroll<Model.EnrollSize?"vacant":"full"):"close")">
            @enrollMsg <i class="fa-solid fa-user-group"></i>
        </span>
        @if (!selfOwned) {
            @if (canJoin) {
                <form method="post">
                    <button class="evt-join active @(currentlyJoin?"leave":"join")" asp-controller="Event" asp-action="Subscribe" asp-route-id="@Model.Id">
                        @if (currentlyJoin) {
                            <text>ออก</text>
                        }
                        else {
                            <text>เข้าร่วม</text>
                        }
                    </button>
                </form>
            } 
            else {
                <button class="evt-join">
                    เข้าร่วม
                </button>
            }
            
        }
        else if (Model.IsOpen) {
            <form method="post">
                <button class="evt-toggle" asp-controller="Event" asp-action="ToggleOpenStatus" asp-route-id="@Model.Id">
                    ปิดรับ
                </button>
            </form>
            <form method="get">
                <button class="evt-edit" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id")>
                    แก้ไข
                </button>
            </form>
            <div class="empty"></div>
            <form method="post">
                <button class="evt-delete" asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id")>
                    ลบทิ้ง
                </button>
            </form>
        }

    </div>

    <div class="requirement">
        <span class="req-head">Requirement:</span>
        <span class="req-age">Age: @Model.MinAgeRequirement - @Model.MaxAgeRequirement</span>
        <span class="req-gender">Gender: @String.Join(", ", Model.GenderRequirement)</span>
    </div>

    <div class="evt-member">
        <h2>Member</h2>
        @foreach (UserNoPassword member in Model.Subscribers) {
            string imageMemberPath = ImageService.GetUserImageFileExtension(member.Id);
            <a draggable="false" asp-controller="User" asp-action="Bio" asp-route-id="@member.Id">
                <div type="button" class="member">
                    <div class="member-picture">
                        <img alt="Member picture" src="~/@imageMemberPath" draggable="false">
                    </div>
                    <span class="member-name">@member.Name @member.Surname</span>
                </div>
            </a>
        }
    </div>

    <div class="evt-q-user">
        <h2>Queue</h2>
        @foreach (UserNoPassword qUser in Model.Queue) {
            string imageQueueUserPath = ImageService.GetUserImageFileExtension(qUser.Id);
            <a draggable="false" asp-controller="User" asp-action="Bio" asp-route-id="@qUser.Id">
                <div type="button" class="q-user">
                    <div class="q-user-picture">
                        <img alt="q-user picture" src="~/@imageQueueUserPath" draggable="false">
                    </div>
                    <span class="q-user-name">@qUser.Name @qUser.Surname</span>
                </div>
            </a>
        }
    </div>
</div>